<section class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Faq</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Faq</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<app-faq-section class="faq-section pt-100"></app-faq-section>
<app-analysis-section class="analysis-section"></app-analysis-section>
<app-subscribe-section class="subscribe-section"></app-subscribe-section>