<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Features</h2>
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li>Features</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-features-section class="features-section"></app-features-section>
<app-tab-section class="tab-section"></app-tab-section>
<app-subscribe-section class="subscribe-section"></app-subscribe-section>
<app-partner-section class="partner-section pt-100"></app-partner-section>