<div class="container">
    <div class="section-title">
        <span>Pricing Plans</span>
        <h3>The Best Solutions for Our Clients</h3>
    </div>

    <div class="tab pricing-tab">
        <ul class="tabs">
            <li>
                <a href="#">Monthly</a>
            </li>
            
            <li>
                <a href="#">Yearly</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tabs-item">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-pricing-box bg-f6f5fb">
                            <div class="pricing-header">
                                <h3>Basic Plan</h3>
                            </div>

                            <div class="price">
                                <strong>$</strong>
                                <span>24</span>
                            </div>

                            <ul class="pricing-features">
                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Audits
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Management
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Copywriting
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Link Building
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Site Migration
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="price-btn-one">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-pricing-box bg-ed0678">
                            <div class="pricing-header">
                                <h3>Standard Plan</h3>
                            </div>

                            <div class="price">
                                <strong>$</strong>
                                <span>59</span>
                            </div>

                            <ul class="pricing-features">
                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Audits
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Management
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Copywriting
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Link Building
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Site Migration
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="price-btn-one">Get Started</a>
                            </div>

                            <div class="pricing-shape">
                                <img src="assets/img/pricing-shape.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3">
                        <div class="single-pricing-box bg-edfbf8">
                            <div class="pricing-header">
                                <h3>Premium Plan</h3>
                            </div>

                            <div class="price">
                                <strong>$</strong>
                                <span>89</span>
                            </div>

                            <ul class="pricing-features">
                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Audits
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Management
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Copywriting
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Link Building
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Site Migration
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="price-btn-one">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabs-item">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-pricing-box bg-f6f5fb">
                            <div class="pricing-header">
                                <h3>Basic Plan</h3>
                            </div>

                            <div class="price">
                                <strong>$</strong>
                                <span>24</span>
                            </div>

                            <ul class="pricing-features">
                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Audits
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Management
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Copywriting
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Link Building
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Site Migration
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="price-btn-one">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-pricing-box bg-ed0678">
                            <div class="pricing-header">
                                <h3>Standard Plan</h3>
                            </div>

                            <div class="price">
                                <strong>$</strong>
                                <span>59</span>
                            </div>

                            <ul class="pricing-features">
                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Audits
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Management
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Copywriting
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Link Building
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Site Migration
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="price-btn-one">Get Started</a>
                            </div>

                            <div class="pricing-shape">
                                <img src="assets/img/pricing-shape.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3">
                        <div class="single-pricing-box bg-edfbf8">
                            <div class="pricing-header">
                                <h3>Premium Plan</h3>
                            </div>

                            <div class="price">
                                <strong>$</strong>
                                <span>89</span>
                            </div>

                            <ul class="pricing-features">
                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Audits
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Management
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    SEO Copywriting
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Link Building
                                </li>

                                <li>
                                    <i class='flaticon-check-mark'></i> 
                                    Site Migration
                                </li>
                            </ul>

                            <div class="price-btn">
                                <a href="#" class="price-btn-one">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>