<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Services</h2>
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-choose-section class="choose-section"></app-choose-section>
<app-services-section class="services-section"></app-services-section>
<app-subscribe-section class="subscribe-section"></app-subscribe-section>
<app-partner-section class="partner-section pt-100"></app-partner-section>