<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Team</h2>
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li>Team</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="team-page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="assets/img/team/1.png" alt="image">
                    </div>
                    <div class="team-content">
                        <h3>Edward Bold</h3>
                        <span>CEO & Founder</span>
                        <ul class="team-social">
                            <li>
                                <a href="#">
                                    <i class="flaticon-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-paypal"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-linkedin-letters"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="assets/img/team/2.png" alt="image">
                    </div>
                    <div class="team-content">
                        <h3>Calvin Klein</h3>
                        <span>Marketing Support</span>
                        <ul class="team-social">
                            <li>
                                <a href="#">
                                    <i class="flaticon-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-paypal"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-linkedin-letters"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="assets/img/team/3.png" alt="image">
                    </div>
                    <div class="team-content">
                        <h3>Alastair Cook</h3>
                        <span>Underwriter</span>
                        <ul class="team-social">
                            <li>
                                <a href="#">
                                    <i class="flaticon-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-paypal"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-linkedin-letters"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="assets/img/team/1.png" alt="image">
                    </div>
                    <div class="team-content">
                        <h3>Edward Bold</h3>
                        <span>CEO & Founder</span>
                        <ul class="team-social">
                            <li>
                                <a href="#">
                                    <i class="flaticon-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-paypal"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-linkedin-letters"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="assets/img/team/2.png" alt="image">
                    </div>
                    <div class="team-content">
                        <h3>Calvin Klein</h3>
                        <span>Marketing Support</span>
                        <ul class="team-social">
                            <li>
                                <a href="#">
                                    <i class="flaticon-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-paypal"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-linkedin-letters"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-area">
                    <div class="team-image">
                        <img src="assets/img/team/3.png" alt="image">
                    </div>
                    <div class="team-content">
                        <h3>Alastair Cook</h3>
                        <span>Underwriter</span>
                        <ul class="team-social">
                            <li>
                                <a href="#">
                                    <i class="flaticon-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-paypal"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-linkedin-letters"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-animation">
        <div class="shape-img1"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-img2"><img src="assets/img/shape/9.png" alt="image"></div>
        <div class="shape-img3"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-img4"><img src="assets/img/shape/9.png" alt="image"></div>
        <div class="shape-img5"><img src="assets/img/shape/9.png" alt="image"></div>
    </div>
</section>
<app-subscribe-section class="subscribe-section"></app-subscribe-section>